<div
    class="flex flex-col items-center justify-center p-12 bg-white rounded-3xl border border-dashed border-slate-200 text-center">
    <div class="w-16 h-16 bg-slate-50 rounded-full flex items-center justify-center mb-5">
        <svg viewBox="0 0 24 24" class="w-10 h-10 text-slate-200 fill-current">
            <path
                d="M17 10.5V7c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l4 4v-11l-4 4z" />
        </svg>
    </div>
    <h3 class="text-xl font-bold text-slate-900 mb-2 font-outfit uppercase">Belum ada room tersedia</h3>
    <p class="text-slate-400 italic">Hubungi guru pengampu anda untuk jadwal meeting.</p>
</div>